#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp O &kp P &kp C
                &kp R &kp S &kp T
                &kp U &kp V &kp W
                &kp X &kp Y &kp Z
            >;
        };
    };
};