#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp K_SLEEP     &kp UP      &kp L
                &kp LEFT        &kp SPACE   &kp RIGHT
                &kp I           &kp DOWN    &kp R
                &kp G           &kp J       &kp H
            >;
        };
    };
};